@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

.poppins-semibold {
	margin: 0;
	padding: 0;
	font-family: "Poppins", sans-serif;
	font-weight: 600;
	font-style: normal;
	box-sizing: border-box;

}

.container {
	font-family: "Poppins", sans-serif;
	font-weight: 600;
	font-style: normal;
	color: white;
	width: 430px;
	height: 600px;
	position: fixed;
	top: 50%;
	left: 25%;
	transform: translate(-50%, -50%);
	margin: 0 auto;
	padding: 20px;
	background-color: #1e1f22;
	border-radius: 5px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	text-align: center; /* Alinea el texto horizontalmente */
}


.topbar-container {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background: #1e1f22;
	height: 50px;
}

.logo-img {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	height: 300%;
}

html {
	background-color: #2f2f2f;
	margin: 0;
}

.letrapequena{
	font-size: 11px;
}

.complementary-img {
    position: absolute;
    top: 50%;
    right: -19%; /* Ajusta la posición a la derecha */
    transform: translate(-50%, -50%);
}

.select-box select {
	height: 100%;
	width: 40%;
	outline: none;
	border: none;
	color: #707070;
	font-size: 1rem;
}

.input-box input[type="text"] {
    height: 30px;
    width: 60%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    font-size: 1rem;
    color: #333;
    transition: border-color 0.3s ease;
}

/* Estilos para los select */
.input-box select {
    height: 40px;
    width: 60%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    font-size: 1rem;
    color: #333;
    transition: border-color 0.3s ease;
}

/* Estilos para cuando se enfoca */
.input-box input[type="text"]:focus,
.input-box select:focus {
    border-color: #007bff;
    outline: none;
}

/* Estilos para las opciones del select */
.input-box select option {
    color: #333;
}

